<!-- app/views/npc/index.html.erb -->
<div class="banner">
  <div class="row mx-0">
    <div class="form" style="background: rgba(255, 255, 255, 0.422)">
      <%= render "shared/form" %>
      <%= render "shared/create_npc" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="main">
      <ul class="cards">
        <% @npcs.each do |npc| %>
              <li class="cards_item">
                <div class="card">
                  <div class="card_image">
                    <span class="note"><%= npc.clan %></span>
                    <% case npc.clan %>
                      <% when 'Assamites' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443787/clan%20logo/mzow1sv5wq1k4a1i5oze.png" alt="Assamite" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Baali' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708447991/clan%20logo/fc36kb9vs2jdcfde4ark.webp" alt="Baali" alt="mixed vegetable salad in a mason jar." />
                      <% when 'Brujah' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443787/clan%20logo/m2rjwxubi7arkgeyixrh.png" alt="Brujah" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Inconnu' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708444501/clan%20logo/xjbfezhhzb9eor4bppin.webp" alt="Inconnu" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Humain' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708444501/clan%20logo/xjbfezhhzb9eor4bppin.webp" alt="Humain" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Ghoule' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708444501/clan%20logo/xjbfezhhzb9eor4bppin.webp" alt="Ghoule" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Cappadocian' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708448029/clan%20logo/ivfxzexosni8folrejpf.webp" alt="Cappadocian" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Gangrel' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443788/clan%20logo/quzpeqxp2q7up8chd0w0.png" alt="Gangrel" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Giovanni' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708447991/clan%20logo/kvztotrj3kdxq70noj6q.webp" alt="Giovanni" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Lasombra' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443788/clan%20logo/l88d9efbko1a2znugqib.png" alt="Lasombra" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Malkavian' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443788/clan%20logo/i4lu0bpitcucelyschtp.png" alt="Malkavian" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Nosferatu' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443787/clan%20logo/izbfeax1gte9eqc5yabi.png" alt="Nosferatu" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Ravnos' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443788/clan%20logo/fp4ahs0lgqyueejmyxtk.png" alt="Ravnos" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Salubrien' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443787/clan%20logo/fiiw7rvvbapmqeiuvtdw.png" alt="Salubrien" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Setite' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443787/clan%20logo/e19rk3y6tokpzgkuhbby.png" alt="Setite" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Toreador' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443788/clan%20logo/mfmx8kziixi8q2x2raqz.png" alt="Toreador" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Tremere' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708447991/clan%20logo/igl7xjf7h7mg3nwlhxr7.png" alt="Tremere" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Tzimisce' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443787/clan%20logo/fpnl5kzzyjvjju86scdy.png" alt="Tzimisce" alt="mixed vegetable salad in a mason jar."/>
                      <% when 'Ventrue' %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708443788/clan%20logo/bj5hjuhzlfefmqnboxpi.png" alt="Ventrue" alt="mixed vegetable salad in a mason jar."/>
                      <% else %>
                        <img src="https://res.cloudinary.com/dskcffluq/image/upload/v1708444501/clan%20logo/xjbfezhhzb9eor4bppin.webp" alt="Image par défaut" alt="mixed vegetable salad in a mason jar."/>
                    <% end %>
                    <span class="card_price">
                      <% if (npc.generation === "Inconnu") %>
                        G-?
                      <% else  %>
                        <%= npc.generation %>
                      <% end %>
                    </span>
                    </div>
                  <div class="card_content">
                    <h2 class="card_title"><%= npc.name %></h2>
                    <div class="card_text">
                      <p>Lieux: <%= npc.address %>
                      <br>
                      Secte: <%= npc.secte %>
                      </p>
                      <hr />
                      <p><%= npc.description %></p>
                      <hr />
                      <div class="d-flex justify-content-between mt-auto">
                        <%= link_to "Modifier PNJ", edit_npc_path(npc), class: 'btn btn-secondary' %>
                        <%= button_to "Supprimer PNJ", npc_path(npc), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
