<!-- app/views/npc/index.html.erb -->
<div class="banner">
  <div class="row mx-0">
    <div class="form bg-light">
      <%= render "shared/form" %>
      <%= render "shared/create_npc" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @npcs.each do |npc| %>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <h2 class="card-title"><%= npc.name %> (Generation: <%= npc.generation %>)</h2>
            <p class="card-text"><strong>Clan:</strong> <%= npc.clan %></p>
            <p class="card-text"><strong>Secte:</strong> <%= npc.secte %></p>
            <p class="card-text"><strong>Lieux:</strong> <%= npc.address %></p>
            <p class="card-text"><strong>Description:</strong> <%= npc.description %></p>

            <div class="d-flex justify-content-between mt-auto">
              <%= link_to "Modifier PNJ", edit_npc_path(npc), class: 'btn btn-secondary' %>
              <%= button_to "Supprimer PNJ", npc_path(npc), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
