<!-- app/views/sheets/new.html.erb -->

<div class="container mt-4 sheet">
  <h1 class="text-center">Nouvelle Fiche</h1>

  <%= simple_form_for(@sheet, html: { class: 'form-inline' }) do |f| %>

    <!-- General Information -->
    <div class="row">
      <div class="col">
        <%= f.input :Nom %>
        <%= f.input :Joueur %>
        <%= f.input :Chronique %>
      </div>
      <div class="col">
        <%= f.input :Nature %>
        <%= f.input :Attitude %>
        <%= f.input :Concept %>
      </div>
      <div class="col">
        <%= f.input :Clan %>
        <%= f.input :Génération %>
        <%= f.input :Refuge %>
      </div>
    </div>


    <!-- Fourth Row: Physical Attributes -->
    <div class="row mt-4">
      <h1 class="text-center">Attributs</h1>
      <div class="col">
        <h2 class="text-center"> Physique</h2>
        <%= f.input :Force %>
        <%= f.input :Dextérité %>
        <%= f.input :Vigueur %>
      </div>
      <div class="col">
        <h2 class="text-center">Social</h2>
        <%= f.input :Charisme %>
        <%= f.input :Manipulation %>
        <%= f.input :Apparence %>
      </div>
      <div class="col">
        <h2 class="text-center">Mental</h2>
        <%= f.input :Perception %>
        <%= f.input :Intelligence %>
        <%= f.input :Astuce %>
      </div>
    </div>

    <div class="row mt-4">
      <h1 class="text-center">Capacités</h1>
      <div class="col">
        <h2 class="text-center">Talents</h2>
        <%= f.input :Expression %>
        <%= f.input :Vigilances %>
        <%= f.input :Athlétisme %>
        <%= f.input :Bagarre %>
        <%= f.input :Esquive %>
        <%= f.input :Empathie %>
        <%= f.input :Intimidation %>
        <%= f.input :Passe %>
        <%= f.input :Commandement %>
        <%= f.input :Subterfuge %>
      </div>
      <div class="col">
        <h2 class="text-center">Compétences</h2>
        <%= f.input :Animaux %>
        <%= f.input :Archerie %>
        <%= f.input :Artisanats %>
        <%= f.input :Equitation %>
        <%= f.input :Etiquette %>
        <%= f.input :Furtivité %>
        <%= f.input :Commerce %>
        <%= f.input :Mêlée %>
        <%= f.input :Représentation %>
        <%= f.input :Survie %>
      </div>
      <div class="col">
        <h2 class="text-center">Connaissances</h2>
        <%= f.input :Erudition %>
        <%= f.input :Investigation %>
        <%= f.input :Droit %>
        <%= f.input :Linguistique %>
        <%= f.input :Médecine %>
        <%= f.input :Occulte %>
        <%= f.input :Sagesse %>
        <%= f.input :Politique %>
        <%= f.input :Sénéchal %>
        <%= f.input :Théologie %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <h2 class="text-center">Volonté</h2>
        <%= f.input :Volonté %>
      </div>
      <div class="col">
        <h2 class="text-center">Vertus</h2>
        <%= f.input :Consciences %>
        <%= f.input :Maitrise %>
        <%= f.input :Courage %>
      </div>
      <div class="col">
        <h2 class="text-center">en construction</h2>

      </div>
    </div>

<div class="row mt-4">
  <h1 class="text-center">Capacités</h1>
  <div class="col">
    <h2 class="text-center">Disciplines</h2>
    <%= f.fields_for :disciplines do |discipline_fields| %>
      <%= discipline_fields.input :name, placeholder: "Discipline Name" %>
      <%= discipline_fields.input :value, placeholder: "Discipline Value" %>
    <% end %>
  </div>
  <div class="col">
    <h2 class="text-center">Backgrounds</h2>
    <%= f.fields_for :backgrounds do |background_fields| %>
      <%= background_fields.input :name, placeholder: "Background Name" %>
      <%= background_fields.input :value, placeholder: "Background Value" %>
    <% end %>
  </div>
  <div class="col">
    <h2 class="text-center">en construction</h2>
  </div>
</div>


    <!-- Add more rows for other attributes as needed -->

    <!-- Submit Button -->
    <div class="row mt-4">
      <div class="col text-center">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>
</div>
