<%= simple_form_for :query, url: groups_path, method: :get, data: { controller: "search", action: "submit->search#search" } do |f| %>
  <div class="row">
    <div class="col-md-7">
      <%= f.text_field :query, class: "form-control", placeholder: "Type a user's name" %>
    </div>
    <div class="col-md-5">
      <%= f.button :submit, "Search", class: "btn btn-secondary btn-form-home" %>
    </div>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col-md-12">
    <h3>Search Results:</h3>
    <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= user.name %>
        <%= button_to "Add to Group", add_user_group_path(@group, user_id: user.id), method: :post, class: "btn btn-primary", remote: true %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
