<!-- app/views/groups/show.html.erb -->
<div class="container">
<h1>Groupe : <%= @group.name %></h1>

  <div class="row">
    <div class="col-md-4">
      <h2>Liste des Utilisateurs :</h2>

      <% if @group.joueurs.present? %>
        <ul>
          <% @group.joueurs.each do |player| %>
            <li><%= player.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucun utilisateur dans ce groupe.</p>
      <% end %>
  <%= link_to 'Retour à la liste des groupes', mj_path, class: 'btn btn-secondary mt-4' %>
    </div>

    <div class="col-md-8">
      <h2>Feuilles associées :</h2>

      <% if @group.joueurs.present? %>
        <div>
          <% @group.joueurs.each do |player| %>
            <% player.sheets.each do |sheet| %>
              <% if sheet.present? %>
                <div>
                  <h3>Nom du joueur <%= player.name %> - Nom du perso <%= sheet.name %></h3>
                  <div class="text-center">
                    <h1><%= sheet.Nom.presence || "pas de nom" %></h1>
                    <button class="btn btn-secondary toggle-details">Afficher ou Cacher la Fiche</button>
                  </div>

                  <div class="hidden-sheet">
                    <div class="container mt-4 sheet">
                      <!-- General Information -->
                        <div class="row">
                          <div class="col">
                            <ul>
                              <li><strong>Nom:</strong> <%= sheet.Nom %></li>
                              <li><strong>Joueur:</strong> <%= sheet.Joueur %></li>
                              <li><strong>Chronique:</strong> <%= sheet.Chronique %></li>
                            </ul>
                          </div>
                          <div class="col">
                            <ul>
                              <li><strong>Nature:</strong> <%= sheet.Nature %></li>
                              <li><strong>Attitude:</strong> <%= sheet.Attitude %></li>
                              <li><strong>Concept:</strong> <%= sheet.Concept %></li>
                            </ul>
                          </div>
                          <div class="col">
                            <ul>
                              <li><strong>Clan:</strong> <%= sheet.Clan %></li>
                              <li><strong>Génération:</strong> <%= sheet.Génération %></li>
                              <li><strong>Refuge:</strong> <%= sheet.Refuge %></li>
                            </ul>
                          </div>
                        </div>

                        <!-- Fourth Row: Physical Attributes -->
                        <div class="row mt-4">
                          <h2 class="text-center">Attributs</h2>
                          <div class="col">
                            <h3 class="text-center"> Physique</h3>
                            <ul>
                              <li><strong>Force:</strong> <%= sheet.Force %></li>
                              <li><strong>Dextérité:</strong> <%= sheet.Dextérité %></li>
                              <li><strong>Vigueur:</strong> <%= sheet.Vigueur %></li>
                            </ul>
                          </div>
                          <div class="col">
                            <h3 class="text-center">Social</h3>
                            <ul>
                              <li><strong>Charisme:</strong> <%= sheet.Charisme %></li>
                              <li><strong>Manipulation:</strong> <%= sheet.Manipulation %></li>
                              <li><strong>Apparence:</strong> <%= sheet.Apparence %></li>
                            </ul>
                          </div>
                          <div class="col">
                            <h3 class="text-center">Mental</h3>
                            <ul>
                              <li><strong>Perception:</strong> <%= sheet.Perception %></li>
                              <li><strong>Intelligence:</strong> <%= sheet.Intelligence %></li>
                              <li><strong>Astuce:</strong> <%= sheet.Astuce %></li>
                            </ul>
                          </div>
                        </div>


                      <div class="row mt-4">
                      <h1 class="text-center">Capacités</h1>
                      <div class="col">
                        <h2 class="text-center">Talents</h2>
                        <ul>
                          <li><strong>Expression:</strong> <%= sheet.Expression %></li>
                          <li><strong>Vigilances:</strong> <%= sheet.Vigilances %></li>
                          <li><strong>Athlétisme:</strong> <%= sheet.Athlétisme %></li>
                          <li><strong>Bagarre:</strong> <%= sheet.Bagarre %></li>
                          <li><strong>Esquive:</strong> <%= sheet.Esquive %></li>
                          <li><strong>Empathie:</strong> <%= sheet.Empathie %></li>
                          <li><strong>Intimidation:</strong> <%= sheet.Intimidation %></li>
                          <li><strong>Passe-passe:</strong> <%= sheet.Passe %></li>
                          <li><strong>Commandement:</strong> <%= sheet.Commandement %></li>
                          <li><strong>Subterfuge:</strong> <%= sheet.Subterfuge %></li>
                          <!-- Add similar lines for other talents -->
                        </ul>
                      </div>
                      <div class="col">
                        <h2 class="text-center">Compétences</h2>
                        <ul>
                          <li><strong>Animaux:</strong> <%= sheet.Animaux %></li>
                          <li><strong>Archerie:</strong> <%= sheet.Archerie %></li>
                          <li><strong>Artisanats:</strong> <%= sheet.Artisanats %></li>
                          <li><strong>Equitation:</strong> <%= sheet.Equitation %></li>
                          <li><strong>Etiquette:</strong> <%= sheet.Etiquette %></li>
                          <li><strong>Furtivité:</strong> <%= sheet.Furtivité %></li>
                          <li><strong>Commerce:</strong> <%= sheet.Expression %></li>
                          <li><strong>Mêlée:</strong> <%= sheet.Mêlée %></li>
                          <li><strong>Représentation:</strong> <%= sheet.Représentation %></li>
                          <li><strong>Survie:</strong> <%= sheet.Survie %></li>
                          <!-- Add similar lines for other compétences -->
                        </ul>
                      </div>
                      <div class="col">
                        <h2 class="text-center">Connaissances</h2>
                        <ul>
                          <li><strong>Erudition:</strong> <%= sheet.Erudition %></li>
                          <li><strong>Investigation:</strong> <%= sheet.Investigation %></li>
                          <li><strong>Droit:</strong> <%= sheet.Droit %></li>
                          <li><strong>Linguistique:</strong> <%= sheet.Linguistique %></li>
                          <li><strong>Médecine:</strong> <%= sheet.Médecine %></li>
                          <li><strong>Occulte:</strong> <%= sheet.Occulte %></li>
                          <li><strong>Sagesse populaire:</strong> <%= sheet.Sagesse %></li>
                          <li><strong>Politique:</strong> <%= sheet.Politique %></li>
                          <li><strong>Sénéchal:</strong> <%= sheet.Sénéchal %></li>
                          <li><strong>Théologie:</strong> <%= sheet.Théologie %></li>
                          <!-- Add similar lines for other connaissances -->
                        </ul>
                      </div>
                    </div>


                      <div class="row mt-4">
                        <div class="col">
                          <h2 class="text-center">Volonté</h2>
                          <ul>
                            <li><strong>Volonté:</strong> <%= sheet.Volonté %></li>
                          </ul>
                        </div>
                        <div class="col">
                          <h2 class="text-center">Vertus</h2>
                          <ul>
                            <li><strong>Consciences:</strong> <%= sheet.Consciences %></li>
                            <li><strong>Maitrise:</strong> <%= sheet.Maitrise %></li>
                            <li><strong>Courage:</strong> <%= sheet.Courage %></li>
                          </ul>
                        </div>
                        <div class="col voie">
                          <h2 class="text-center">Voie</h2>
                          <ul>
                            <% if sheet.path.present? %>
                              <li><strong><%= sheet.path.name.capitalize %>:</strong> <%= sheet.path.value %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>

                      <!-- Historiques -->
                      <div class="row mt-4">
                        <div class="col">
                          <h2 class="text-center">Historiques</h2>
                          <ul>
                            <% sheet.backgrounds.each do |background| %>
                              <% if background.value.present? && background.value.to_i.nonzero? %>
                                <li><strong><%= background.name.capitalize %>:</strong> <%= background.value %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>

                        <!-- Disciplines -->
                        <div class="col">
                          <h2 class="text-center">Disciplines</h2>
                          <ul>
                            <% sheet.disciplines.each do |discipline| %>
                              <% if discipline.value.present? && discipline.value.to_i.nonzero? %>
                                <li><strong><%= discipline.name.capitalize %>:</strong> <%= discipline.value %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>

                        <div class="col">
                          <h2 class="text-center">Thaumaturgies</h2>
                          <ul>
                            <% sheet.voie_thaumaturgiques.each do |voie| %>
                              <% if voie.value.present? && voie.value.to_i.nonzero? %>
                                <li><strong><%= voie.name.capitalize %>:</strong> <%= voie.value %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>
                      </div>

                      <!-- Atouts, Handicaps -->
                      <div class="row mt-4 atouts">
                        <h1 class="text-center">Atouts, Handicaps</h1>
                        <!-- Atouts -->
                        <div class="col">
                          <h2 class="text-center">Atouts</h2>
                          <ul>
                            <% sheet.advantages.each do |avantage| %>
                              <% if avantage.value.present? && avantage.value.to_i.nonzero? %>
                                <li><strong><%= avantage.name.capitalize %>:</strong> <%= avantage.value %></li>
                                <li><%= avantage.description %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>

                        <!-- Handicaps -->
                        <div class="col">
                          <h2 class="text-center">Handicaps</h2>
                          <ul>
                            <% sheet.disadvantages.each do |handicap| %>
                              <% if handicap.value.present? && handicap.value.to_i.nonzero? %>
                                <li><strong><%= handicap.name.capitalize %>:</strong> <%= handicap.value %></li>
                                <li><%= handicap.description %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <p>No PDF attached for <%= player.name %>'s Sheet - <%= sheet.title %>.</p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p>Aucun utilisateur dans ce groupe.</p>
      <% end %>
    </div>
  </div>

</div>
