<div class="container">
  <div class="row">
    <div class="col-md-4" data-controller="sheet">
      <h2><%= current_user.name %></h2>
      <p><%= current_user.description %></p>

      <!-- Form for adding new sheets -->
      <%= simple_form_for Sheet.new, url: sheets_path, html: { multipart: true }, remote: true do |form| %>
        <%= form.input :title %>
        <%= form.input :pdf, as: :file %>
        <div class="actions">
          <%= form.submit 'Add Sheet' %>
        </div>
      <% end %>


    </div>

    <div class="col-md-8" id="sheet-details">
      <h3>Feuille(s) de personnage(s):</h3>
      <% @sheets.each do |sheet| %>
        <div id="sheet">
          <h1><%= sheet.title %></h1>
          <div>
            <% if sheet.pdf.attached? %>
              <iframe src="<%= rails_blob_path(sheet.pdf, disposition: 'inline') %>" width="100%" height="800px"></iframe>
            <% else %>
              <p>No PDF attached.</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
