<!DOCTYPE html>
<html>
  <head>
    <title>DarkChronicles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sauvegardez et gérez vos personnages non-joueurs (PNJ) pour Vampire : l'Âge des Ténèbres. Créez et partagez facilement des fiches en ligne avec votre maître du jeu (MJ) pour une expérience de jeu immersive.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= link_to "#top" do %>
      <button class="scroll-to-top" title="Go to top">&#9650;</button>
    <% end %>
  </body>
</html>
